[Unit]
Description=TEST_DAEMON SERVICE
 
[Install]
WantedBy=multi-user.target
 
[Service]
Type=simple
PIDFile=/var/run/test_daemon.pid
WorkingDirectory=/home/username/daemons
ExecStart=/home/username/daemons/TEST_DAEMON.py
TimeoutSec=10
Restart=always

#https://linuxoid.pro/autostart-using-systemd/
# /etc/systemd/system/wiki_bot.service
# sudo systemctl status myservice
# sudo systemctl enable myservice
# sudo systemctl start myservice
